.carouselContainer {
    /* transform: translateX(-50%);
    left: 50%; */
    width: 75%;
    margin: 20px auto;
}

.carouselContainer img {
    aspect-ratio: 2/1;
}


.caption h3,
.caption p{
    text-shadow: 0px 0px 8px rgba(0,0,0,1);
}

.caption p {
    font-size: 1.5rem;
}