.container {
  margin-top: 3rem;
  padding: 0rem 2rem 0rem 2rem;
}

.header {
  color: var(--primaryDark);
  font-family: var(--headerFont);
  font-size: 40px;
  line-height: 2.5rem;
  margin: 2rem auto;
  text-shadow: rgb(75, 75, 75) 1px 1px 2px;
}

.des {
  font-family: var(--bodyFont);
}

.list {
  margin: auto;
  text-align: left;
}

.list li {
  font-size: 22px;
  width: fit-content;
  margin: auto;
}

.image_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3rem 0;
}
