@import url("https://js.arcgis.com/4.16/esri/themes/light/main.css");

.container {
    width: 1320px;
    margin: 2rem auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container2{
    max-width: 90%;
    width: 100%;
    margin: 3rem auto;
}

.title {
    color: var(--primaryDark);
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--headerFont);
}

.thumbnail {
    margin: 0.6rem;
    border: 1px solid black;
    border-radius: 12px;
}

.textDeco {
    text-align: justify;
    text-indent: 2rem;

}

.model::after,
.artGallery::after,
.mapShow::after {
    content: '';
    display: block;
    width: 320px;
    height: 40px;
    margin: 40px auto;
    background: url(../../../assets/bamboo.png) center center no-repeat;
    background-size: 100% auto;
}

.image {
    width: 100%;
    aspect-ratio: 3/2;
    padding: 4px;
}