@import url("https://js.arcgis.com/4.16/esri/themes/light/main.css");

.container {
    padding: 2rem 1rem 0rem 2rem;
}

.title {
    color: var(--primaryDark);
    text-align: center;
    text-indent: 4rem;
    /* font-size: 3rem; */
    font-family: var(--headerFont);
}

.thumbnail {
    margin: 0.6rem; /* Adjust the margin as needed */
    border: 1px solid black;
    border-radius: 12px;
}

.model::after,
.artGallery::after {
    content: '';
    display: block;
    width: 320px;
    height: 40px;
    margin: 40px auto;
    background: url(../../../assets/bamboo.png) center center no-repeat;
    background-size: 100% auto;
}

.image {
    width: 100%;
    max-width: 50%;
    height: auto;
    padding: 4px;
}