
.container{
   padding: 20px;
   font-family: 'Segoe UI';
}
h1{
   font-family: 'Segoe UI';
   padding: 50px;
}
.timeline{
   text-align: justify;
   font-family: 'Segoe UI';
   background-color: rgb(186, 138, 74);
   border-radius: 5px;
   padding: 20px;
}

.timeline1{
   grid-template-columns: 1fr 1fr;
   text-align: justify;
   grid-template-rows: auto;
   font-family: 'Segoe UI';
   background-color: rgb(186, 138, 74);
   border-radius: 5px;
   padding: 20px;
   font-size:  18px;
}

.timeline2{
   font-size: 'Segoe UI';
   border-radius: 5px;
   padding-bottom: 12px;
}
.content{
   padding: 10px;
}
.text_header{
   font-size: 25px;
   font-family: 'Segoe UI';
   font-weight: bold;
   
}
.text{
   font-size: 20px;
   padding: 8px;
}

